*.zip
資料/
*.opus
resS/オリジナル/
Freesia/backup/
Freesia/Smart/
*.ipch
*.opensdf
Freesia/DiskInfo.ini
Freesia/DiskInfoG.ini
Freesia/DiskInfoX64.ini
*.exe
*.csv
*.png
*.lang
x64/
Build/
res/
resS/
resN/
*.sdf
DiskInfo.VC.opendb
DiskInfo.VC.db
AtaSmart.cpp.rej
DiskInfo.VC.VC.opendb
