*.zip
資料/
*.opus
backup/
Smart/
*.ipch
*.opensdf
*.ini
*.exe
*.csv
*.png
x64/
Build/
*.sdf
DiskInfo.VC.opendb
DiskInfo.VC.db
AtaSmart.cpp.rej
DiskInfo.VC.VC.opendb
*.aps
*.user
.vs/
enc_temp_folder/47375794a7a15ae9bc5c605bd6169eb2/stdafx.h
